<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:glEsVersion="0x00030000" android:required="true"/>
    <application android:label="Shader Gallery" android:theme="@style/GalleryTheme" android:networkSecurityConfig="@xml/network_security">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="shadergallery" android:host="work"/>
            </intent-filter>
        </activity>
        <service android:name=".GalleryWallpaperService" android:permission="android.permission.BIND_WALLPAPER" android:exported="true" android:label="Shader Gallery">
            <intent-filter><action android:name="android.service.wallpaper.WallpaperService"/></intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/wallpaper"/>
        </service>
    </application>
</manifest>
